# Your ScraperAPI Key (Get 5000 free requests at scraperapi.com)
SCRAPER_API_KEY_1=your_scraper_api_key_here
SCRAPER_API_KEY_2=your_scraper_api_key_here
SCRAPER_API_KEY_3=your_scraper_api_key_here
SCRAPER_API_KEY_4=your_scraper_api_key_here
DATABASE_URL=your_postgres_connection_string_here
VERCEL_TOKEN=your_vercel_token_here

# Vercel Cron Authentication
CRON_SECRET=your_super_secret_cron_key

SCRAPE_INTERVAL_DAYS=4
